################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BulkCosmos/obj
/BulkCosmos/bin/Debug/netcoreapp3.1
/BulkCosmos/.vs/BulkCosmos
